@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Josefin Sans", sans-serif;
  color: #ddd;
  background: #333;
}

.container {
  max-width: 500px;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
}

img {
  cursor: pointer;
}
li{
  list-style: none;
}

.disabled {
  opacity: 0.6;
  
}